<div class="main-wrap" id="about-us">
  <div class="container">
    <div class="col-md-12">
      <h1 class="heading">
        ABOUT
      </h1>
    </div>
    <div class="col-md-12">
      <div class="row">
      <div class="col-md-4">
        <img class="about-img" src="{{aboutUs.imageUrl}}">
      </div>
      <div class="col-md-8">
        <div class="about-content">
        {{aboutUs.content}}
      </div>
      </div>
    </div>
    </div>
  </div>
</div>
