.main-wrap {
  border-bottom: 5px solid #f76f3d;
}
.about-img {
  width: 100%;
    max-height: 450px;
    object-fit: contain;
    position: relative;
    bottom: -5px;


}
.about-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
.main-wrap {
  /* padding-bottom: 6rem; */
}

@media screen  and (max-width: 780px) {
  .about-content{
    padding: 10px
  }
}
