<div class="main-wrap bgImage" id="contact">
  <div class="black-shadow"></div>
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8">
          <h3 class="get-in-touch">Get In Touch</h3>

          <!-- // call icon -->
          <div class="box-wrap">
            <div class="title-wrap">
              <span>
                <i class="fa fa-phone" aria-hidden="true"></i>
              </span>
              <span> CALL </span>
            </div>
            <div class="body-wrap">
              <a href="tel:{{ mobileNumber }}"> {{ mobileNumber }}</a>
            </div>
          </div>

          <div class="box-wrap">
            <div class="title-wrap">
              <span>
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </span>
              <span> EMAIL </span>
            </div>
            <div class="body-wrap">
              <a href="mailto:{{ email }}"> {{ email }}</a>
            </div>
          </div>

          <div class="box-wrap">
            <div class="body-wrap">
              <a href="/privacy-policy" target="_blank"> Privacy Policy</a>
            </div>
          </div>

          <div class="box-wrap">
            <div class="body-wrap">
              <a href="/terms-and-conditions" target="_blank">
                Terms and conditions</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h3 class="get-in-touch">Have A Look</h3>
          <div class="box-wrap">
            <div class="title-wrap">
              <span> Like our Business </span>
            </div>
            <div class="body-wrap">
              <div class="social-icons">
                <a
                  href="https://api.whatsapp.com/send?phone=+91-9654854895&text=HelloCityAPP"
                  class="anchor-icons"
                  target="_blank"
                >
                  <span class="social-platform" title="whats app">
                    <i class="fa fa-whatsapp" aria-hidden="true"></i>
                  </span>
                </a>

                <a
                  href="{{ facebookUrl }}"
                  class="anchor-icons"
                  target="_blank"
                >
                  <span class="social-platform" title="facebook">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </span>
                </a>

                <!--

                  downloading by the playstore



                  <a
                  href="{{ playStoreLink }}"
                  class="anchor-icons"
                  target="_blank"
                >
                  <span class="social-platform" title="facebook">
                    <i class="fa fa-download" aria-hidden="true"></i>
                  </span>
                </a> -->

                <!--

                  For instagram

                  <span class="social-platform" title="instagram">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </span> -->
              </div>
            </div>
          </div>

          <div class="box-wrap">
            <div class="title-wrap">
              <span> Getting started is easy </span>
            </div>
            <a href="{{ playStoreLink }}" target="_blank">
              <img
                class="img-download"
                src="assets/images/cityApp/play-store.svg"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-scroll">
    <a class="anchor-arrow" href="#banner">
      <div class="scroll-up">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
      </div>
    </a>
  </div>
</div>

<div class="footer-2">MYCITYAPPS SOLUTIONS PRIVATE LIMITED</div>
