.main-wrap {
  padding: 100px 0;
  font-family: sans-serif;
  position: relative;
}
.footer-scroll {
  display: flex;
  justify-content: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #fff;
  z-index: 99;
  cursor: pointer;
}
.scroll-up {
  border: 1px solid gray;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}
.container {
  z-index: 2;
  position: relative;
}
.box-wrap {
  padding-top: 20px;
  width: 100%;
}
.title-wrap {
  display: flex;
  gap: 10px;
  color: #f76f3d;
  font-weight: 600;
  font-size: 16px;
}
.get-in-touch {
  color: #fff;
}
.body-wrap a {
  color: #fff;
  font-size: 14px;
}

.bgImage {
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url(./../../../assets/images/sl/sl-banner1.jpg); */
  background-image: url(./../../../assets/images/cityApp/banner1.png);
}
.black-shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000c4;
  z-index: 1;
}
.fa-arrow-up {
  color: #f76f3d;
}
.anchor-arrow {
  text-decoration: none;
}
.social-platform {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 50%;
  margin-top: 10px;
  cursor: pointer;
}
.social-icons {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 15px;
}
.anchor-icons {
  color: #f76f3d !important ;
  text-decoration: none !important;
}

@media all and (max-width: 780px) {
  .get-in-touch {
    margin-top: 4rem;
  }
}

.footer-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  background: #f66f3c;
  color: #fff;
}

.img-download {
  margin-top: 5px;
}
