<nav class="navbar navbar-expand-lg navbar-red navbar-dark">
  <div class="wrapper"></div>
  <div class="container-fluid all-show">
    <!-- <a class="navbar-brand" href="#">{{logo.name}}
            <i [ngClass]=" logo.imageUrl"></i>
           -->
    <!-- </a> -->
    <img src="{{ logo.imageUrl }}" />
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let link of menuLinks">
          <a class="nav-link" href="{{ link.url }}">
            <i [ngClass]="link.imageUrl"></i>
            {{ link.name }}</a
          >
        </li>
        <a
          href="https://play.google.com/store/apps/details?id=com.food.narwanaFood.localFood"
          target="_blank"
        >
          <img src="assets/images/cityApp/play-store.svg" />
        </a>
      </ul>
    </div>
  </div>
</nav>
