@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap");

body {
  background-color: #eee;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.navbar-nav > li > a {
  text-transform: uppercase;
  font-size: 14px;
  margin-right: 20px;
  color: #fff;
}

.navbar-toggler {
  padding: 0.2rem 0.5rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid white;
}

.nav-link {
  color: #f66f3c !important;
}

.wrapper {
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: #000;
  clip-path: polygon(12% 0%, 100% 1%, 100% 35%, 100% 100%, 17% 100%);
  transition: 1s all;
}

.navbar-brand {
  color: #fff;
  font-family: "Allerta Stencil", sans-serif;
  margin-bottom: 4px;
  font-size: 27px;
}

.navbar-red:hover .wrapper {
  clip-path: polygon(100% 0, 100% 0, 100% 50%, 100% 100%, 100% 100%);
}

.navbar-brand:hover {
  color: #fff;
}

.navbar-red {
  background-color: #fff;
  color: #fff;
}

.all-show {
  z-index: 10;
}
.navbar-expand-lg .navbar-collapse {
  flex-grow: unset !important;
}
a:hover .fa {
  -webkit-animation: fa-spin 1s;
  animation: fa-spin 1s;
}

@media (max-width: 990px) {
  .navbar-red:hover .wrapper {
    clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 65% 100%);
  }
  .wrapper {
    clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 71% 100%);
  }
}

.btn-download {
  /* background-color: #f66f3c;
  border: 1px solid #f66f3c; */
  /* color: #fff; */
  /* border-radius: 4px;
  font-size: 14px; */
  /* padding: 8px 20px; */
}
