/* .template {
  padding: 0 50px;
  border-radius: 10px;
}
.bg-image-blur {
  filter: blur(3px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}
.image {
  position: relative;
  z-index: 2;
  border-radius: 4px;
}
.main-wrap {
  padding-bottom: 6rem;
}


:host ::ng-deep .owl-theme .owl-nav {
  margin-top: 30px;
}

:host ::ng-deep .owl-theme .owl-nav [class*=owl-] {
  background: transparent;
  border: 1px solid #f76f3d;
}
:host ::ng-deep .fa-arrow-right {
  color: #f76f3d;
}
:host ::ng-deep .fa-arrow-left {
  color: #f76f3d;
} */


.main-wrap {
  background: #8080801a;
  padding-bottom: 6rem;
}

:host ::ng-deep .owl-theme .owl-nav {
  margin-top: 30px;
}

:host ::ng-deep .owl-theme .owl-nav [class*=owl-] {
  background: transparent;
  border: 1px solid #f76f3d;
}
:host ::ng-deep .fa-arrow-right {
  color: #f76f3d;
}
:host ::ng-deep .fa-arrow-left {
  color: #f76f3d;
}
.height-img {

}
