<div class="main-wrap">
  <div class="container">
    <div class="col-md-12">
      <h1 class="heading">
        CITY APP FOR VENDORS
      </h1>
    </div>
    <div class="col-md-12">
      <div class="row">

        <owl-carousel-o [options]="customOptions">

          <ng-container *ngFor="let slide of slidesStores">
            <ng-template carouselSlide   >
<div class="template">



              <div class="overlay"></div>
              <img class="image" class="height-img" [src]="slide.src">
            </div>
            </ng-template>
          </ng-container>

        </owl-carousel-o>



    </div>
    </div>
  </div>
</div>
