.main-wrap {
  background: #8080801a;
  padding-bottom: 6rem;
}

:host ::ng-deep .owl-theme .owl-nav {
  margin-top: 30px;
}

:host ::ng-deep .owl-theme .owl-nav [class*=owl-] {
  background: transparent;
  border: 1px solid #f76f3d;
}
:host ::ng-deep .fa-arrow-right {
  color: #f76f3d;
}
:host ::ng-deep .fa-arrow-left {
  color: #f76f3d;
}
.height-img {

}
