<div class="main">
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="heading">Privacy Policy</div>
        <div class="main-content">
          <div class="box">
            <div class="para-box">
              We i.e. MYCITYAPPS SOLUTIONS PRIVATE LIMITED (“Company”), are
              committed to protecting the privacy and security of your personal
              information. Your privacy is important to us and maintaining your
              trust is paramount. This privacy policy explains how we collect,
              use, process, and disclose information about you. By using our
              app/platform and affiliated services, you consent to the terms of
              our privacy policy (“Privacy Policy”) in addition to our ‘Terms of
              Use.’ We encourage you to read this privacy policy to understand
              the collection, use, and disclosure of your information from time
              to time, to keep yourself updated with the changes and updates
              that we make to this policy. This privacy policy describes our
              privacy practices for all products and services that are linked to
              it. However, this policy does not apply to those affiliates and
              partners that have their own privacy policy. In such situations,
              we recommend that you read the privacy policy on the applicable
              site.
            </div>
          </div>

          <div class="box">
            <div class="head-box">
              The collection, storage and use of information related to you
            </div>

            <br />
            <div class="para-box">
              We may automatically collect and store personal information
              provided by you from time to time on the website/app. We only
              collect and use such information from you that we consider
              necessary for achieving a seamless, efficient, and safe
              experience, customized to your needs including:
              <br />
              <br />
              <ul>
                <li>To enable the provision of services opted by you;</li>
                <li>
                  To communicate necessary account and product/service related
                  information from time to time;
                </li>
                <li>To allow you to receive quality customer care services;</li>

                <li>
                  To undertake necessary fraud and money laundering prevention
                  checks, and comply with the highest security standards;
                </li>
                <li>
                  To comply with applicable laws, rules, and regulations; and
                </li>
                <li>
                  To provide you with information, marketing messages and offers
                  on products and services, on updates, on promotions, on
                  related, affiliated, or associated service providers and
                  partners, that we believe would be of interest to you
                </li>
              </ul>
            </div>
          </div>

          <div class="box">
            <div class="head-box">Changes to the privacy policy</div>

            <br />
            <div class="para-box">
              We reserve the right to change this policy from time to time. Any
              changes shall be effective immediately upon the posting of the
              revised Privacy Policy. We encourage you to periodically review
              this page for the latest information on our privacy practices
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
