:host ::ng-deep .owl-carousel .owl-item img{
  height: 80vh !important;
  object-fit: cover;
}
:host ::ng-deep.owl-theme .owl-nav{
  display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
}

:host ::ng-deep .owl-theme .owl-dots .owl-dot span {
  width: 20px;
  height: 3px;
  background: #fff;
}
:host ::ng-deep .owl-theme .owl-dots {
  margin-top: -30px;
  position: relative;
}
:host ::ng-deep.owl-theme .owl-nav [class*=owl-] {
  border-radius: 50%;
  background: transparent;
  font-size: 20px;
}
:host ::ng-deep .owl-theme .owl-dots .active span {
  background: #f76f3d;
}
.template {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0000007d;
}
.overlay-body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay-body h1 {
  font-size: 3.5rem;
  font-family: cursive;
}

.main-wrap {
  margin-top: 60px;
}
:host ::ng-deep .owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }


  @media all and (max-width: 780px){
    :host ::ng-deep  .owl-carousel .owl-item img {
      height: 35vh !important;
    }
  }
