<div class="main-wrap" id="banner">
<owl-carousel-o [options]="customOptions">

  <ng-container *ngFor="let slide of slidesStores">
    <ng-template carouselSlide [id]="slide.id" class="template">
      <div class="overlay"></div>
      <div class="overlay-body">
        <h1 class="animate__animated animate__fadeInUp">
          {{slide.title}}
        </h1>
      </div>
      <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
    </ng-template>
  </ng-container>

</owl-carousel-o>
</div>
