<!-- 

<div
id="os-widget-1013417"
class="os_poll"
data-path="/polls/2845681"
data-of="city-app"
data-opinionstage-widget="418a4940-1561-4042-baac-82d8e9ad691e"
></div>
 -->


 <!-- <div class="main-wrap">
 <p>
   City App Opinion Poll For Narwana Chairman Election 2022
 </p>


 <div #recaptcha ></div>

</div> -->

<router-outlet></router-outlet>
 <!-- <iframe name="opinionstage-widget" src="https://www.opinionstage.com/api/v1/widgets/1013417/iframe" data-opinionstage-iframe="418a4940-1561-4042-baac-82d8e9ad691e" width="100%" height="800" scrolling="auto" style="border: none;" frameBorder="0" allow="fullscreen" webkitallowfullscreen="true" mozallowfullscreen="true" referrerpolicy="no-referrer-when-downgrade"></iframe> -->