.main {
  width: 100%;
  min-height: 100vh;
  background-color: #80808014;
}
.heading {
  text-align: center;
  width: 100%;
  font-size: 36px;
  font-weight: bold;
  padding: 50px;
  color: #000;
}
.main-content {
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  padding: 20px;
  margin-bottom: 40px;
}

.box {
  padding-bottom: 30px;
}
.head-box {
  font-size: 20px;
  font-weight: bold;
}
.para-box {
  font-size: 16px;
  line-height: 22px;
}

@media only screen and (max-width: 780px) {
  .heading {
    font-size: 20px;
    padding: 30px;
  }
  .head-box {
    font-size: 16px;
  }
  .para-box {
    font-size: 13px;
  }
}
