<div class="main">
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="heading">Terms & Conditions</div>
        <div class="main-content">
          <div class="box">
            <div class="head-box">Personal information</div>
            <br />
            <div class="para-box">
              “CityApp” is a trademark of MYCITYAPPS SOLUTIONS PRIVATE LIMITED,
              a company incorporated under the Companies Act, 2013 with its
              registered office at Narwana – 126116 (Company).
              <br />
              <br />
              The domain name www.mcityapp.com is owned by the Company
            </div>
          </div>

          <div class="box">
            <div class="head-box">Services overview</div>

            <br />
            <div class="para-box">
              The Marketplace is a platform for domestic consumers to transact
              with third party sellers, who have been granted access to the
              Marketplace to display and offer products for sale through the
              Marketplace. For abundant clarity, the Company does not provide
              any services to users other than providing the Marketplace as a
              platform to transact at their own cost and risk, and other
              services as may be specifically notified in writing.
              <br />
              <br />
              The Company is not and cannot be a party to any transaction
              between you and the third party sellers, or have any control,
              involvement or influence over the products purchased by you from
              such third party sellers or the prices of such products charged by
              such third-party sellers. The Company therefore disclaims all
              warranties and liabilities associated with any products offered on
              the Marketplace.
              <br />
              <br />
              Services on the Marketplace are available to only select
              geographies in India, and are subject to restrictions based on
              business hours and days of third party sellers.
              <br />
              <br />
              Transactions through the Marketplace may be subject to a delivery
              charge where the minimum order value is not met. You will be
              informed of such delivery charges at the stage of check-out for a
              transaction through the Marketplace.
              <br />
              <br />

              Transactions through the Marketplace may be subject to a
              convenience & safety fee. You will be informed of such convenience
              & safety fee at the stage of check-out for a transaction through
              the Marketplace.
            </div>
          </div>

          <div class="box">
            <div class="head-box">Eligibility</div>

            <br />
            <div class="para-box">
              Persons who are “incompetent to contract” within the meaning of
              the Indian Contract Act, 1872 including minors, undischarged
              insolvents etc. are not eligible to use/access the Marketplace.
              <br />
              <br />
              However, if you are a minor, i.e. under the age of 18 years, you
              may use/access the Marketplace under the supervision of an adult
              parent or legal guardian who agrees to be bound by these Terms of
              Use. You are however prohibited (even under provision) from
              purchasing any product(s) which is for adult consumption, the sale
              of which to minors is prohibited.
              <br />
              <br />
              The Marketplace is intended to be a platform for end-consumers
              desirous of purchasing product(s) for domestic self-consumption.
              If you are a retailer, institution, wholesaler or any other
              business user, you are not eligible to use the Marketplace to
              purchase products from third-party sellers, who have been granted
              access to the Marketplace to display and offer their products for
              sale through the Marketplace.
              <br />
              <br />
              The Company, in its sole discretion and without liability,
              reserves the right to terminate or refuse your registration, or
              refuse to permit use/access to the Marketplace, if: (i) it is
              discovered or brought to notice that you do not conform to the
              eligibility criteria, or (ii) the Company has reason to believe
              (including through evaluating usage patterns) that the eligibility
              criteria is not met/is violated by a user, or (iii) may breach the
              terms of this User Agreement.
              <br />
              <br />

              In order to determine compliance with eligibility criteria, the
              Company inter alia uses an algorithm and/or pre-determined
              criteria based technology and accordingly, from time to time, your
              usage may be restricted or blocked on account of overlap with such
              algorithms/predetermined criteria. In such cases, if you are a
              genuine domestic user of the Platform, please contact us for
              assistance.
            </div>
          </div>

          <div class="box">
            <div class="head-box">Account & registration obligations</div>

            <br />
            <div class="para-box">
              All users must register and log in for placing orders on the
              Marketplace. You must keep your account and registration details
              current and correct for all communications related to your
              purchases from the Marketplace. By agreeing to the Terms of Use,
              you agree to receive promotional or transactional communication
              and newsletters from the Company and its partners. You can opt-out
              from such communication and/or newsletters either by contacting
              the customer services team of Marketplace or by placing a request
              for the same.
              <br />
              <br />
              As part of the registration process on the Marketplace, the
              Company may collect the following personally identifiable
              information about you, including but not limited to name, email
              address, age, address, mobile phone number, and other contact
              details, demographic profile (like your age, gender, occupation,
              education, address etc.) and information about the pages on the
              Marketplace you visit/access, the links you click on the
              Marketplace, the number of times you access a particular
              page/feature and any such information. Information collected about
              you is subject to the privacy policy of the Company
              (https://mcityapp.com/privacy), which is incorporated in these
              Terms of Use by reference.
            </div>
          </div>

          <div class="box">
            <div class="head-box">Pricing</div>

            <br />
            <div class="para-box">
              The Company aims to ensure that prices of all products offered for
              sale are true and correct. However, from time to time, the prices
              of certain products may not be current or may be inaccurate on
              account of technical issues, typographical errors or incorrect
              product information provided to the Company by third-party
              sellers. In each such case, notwithstanding anything to the
              contrary, the Company reserves the right to cancel the order
              without any further liability.
              <br />
              <br />
              Subject to the foregoing, the price mentioned at the time of
              ordering a product shall be the price charged at the time of
              delivery, provided that no product offered for sale on the
              Marketplace will be sold at a price higher than its MRP (maximum
              retail price).
            </div>
          </div>

          <div class="box">
            <div class="head-box">Return policy</div>

            <br />
            <div class="para-box">
              No return policy is applicable for the products delivered by the
              city app riders or vendors directly.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
