/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
/* @import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default'; */

.heading {
  display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-family: 'Allerta Stencil';
    font-weight: 800;
    text-decoration: underline;
    padding: 6rem 0;
}

@media screen  and (max-width: 780px) {
  .heading{
    text-align: center;
  }
}
