<h3>Device Informations</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Property</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Device Type</td>
      <td>{{deviceInfo.deviceType}}</td>
    </tr>
    <tr>
      <td>User Agent</td>
      <td>{{deviceInfo.userAgent}}</td>
    </tr>
    <tr>
      <td>OS</td>
      <td>{{deviceInfo.os}}</td>
    </tr>
    <tr>
      <td>OS version</td>
      <td>{{deviceInfo.os_version}}</td>
    </tr>

    <tr>
      <td>Browser Version</td>
      <td>{{deviceInfo.browser_version}}</td>
    </tr>

    <tr>
      <td>isDesktop</td>
      <td>{{isDesktopDevice}}</td>
    </tr>

    <tr>
      <td>isTablet</td>
      <td>{{isTablet}}</td>
    </tr>

    <tr>
      <td>isMobile</td>
      <td>{{isMobile}}</td>
    </tr>
  </tbody>
</table>